body{
  background-image: url('../images/image1.jpg');
  background-size: cover;
} 

h1 {
  font-family: 'Apple chancery', cursive;
  color:rgb(255, 196, 0);
  font-size: 50px;
}

h1:hover {
  color: red;
}

p{
  font-family: 'Apple chancery', cursive;
    color: rgb(235, 10, 243);    
    font-weight: 900;
    font-size: 22px;
    background-color: rgb(236, 232, 214);
    margin-right: 1350px;
    justify-content: space-between;
}

p:hover {
  color: red;
}

#text{
  font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 123, 247);    
    font-weight: 900;
    font-size: 22px;
    background-color: cornsilk;
    margin-right: 1010px;
    display: flex;
    justify-content: left;
}

li{
  color: rgb(243, 99, 16);
  font-size: 22px;
  background-color: cornsilk;
    margin-right: 1234px;
}

label{
  font-weight: 200;
    font-size: 22px;
    background-color: cornsilk;
}

h3 {
  color: rgb(197, 27, 212);
  font-size: 60px;
}

